@import url(https://fonts.googleapis.com/css?family=Roboto:400, 300, 500);
*:focus {
  outline: none;
}

@media (min-width: 100px) and (max-width: 380px) {
  .card-style {
    width: 90%;
   
    padding: 0px;
    
    border-radius: 25x;
    position:absolute;
    top:0%;
    left:50%;
    transform:translate(-50%,-50%);
    margin-top: 300px;
  }
  
.mat-form-field {
  width: 90%;
  padding: 1px;
}
}

html {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
@media (min-width: 380px) and (max-width: 2400px) {
.card-style {
  width: 400px;
  padding: 0px;
  border-radius: 25x;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 350px;
}
.mat-form-field {
  width: 280px;
}
}



.mat-input-wrapper {
  width: 400px !important;
}

.mat-flat-button {
  width: 250px;
}

.all:hover > .box-one {
  left: 0;
}

.singupBtn {
  color: white;
  background-image: linear-gradient(
    to right top,
    #00a83a,
    #01a730,
    #04a625,
    #09a418,
    #0ea300
  );
}
.mat-flat-button {
  line-height: 35px;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: -100;
  text-align: center;
  background-size: cover;
  font-family: "Oswald", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  background-size: cover;
}

.mat-stroked-button:hover {
  background-color: #d34836;
  color: white;
  font-size: 25px;
}
